acl "trusted" {
        {{ ns1IP }};    # ns1 - can be set to localhost
        {{ ns2IP }};    # ns2

        {% for id in range({{ minIP | int }},{{ maxIP | int }}) %}
        10.0.5.{{ id }};\n
        {% endfor %}


};



options {
        directory "/var/cache/bind";

        recursion yes;                 # enables resursive queries
        allow-recursion { trusted; };  # allows recursive queries from "trusted" clients
        listen-on { {{ ns1IP }}; };   # ns1 private IP address - listen on private network only
        allow-transfer { none; };      # disable zone transfers by default

        forwarders {
                {{ forward01 }};
                {{ forward02 }};
                {{ forward03 }};
        };


        dnssec-validation auto;

        auth-nxdomain no;    # conform to RFC1035
        listen-on-v6 { any; };
};
